body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.state-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100px;
  text-align: center;
}

.dash-header {
  text-align: center;
  margin: 0;
}

ul {
  text-align: center;
  padding: 0;
}

.link {
  padding: 10px;
  margin: 0 5px;
  background-color: dodgerblue;
  border-radius: 12px;
  border: 1px solid blue;
  color: white;
  display: inline-block;
  list-style-type: none;
}

.link:hover {
  transform: scale(1.05);
}

.nav-menu {
  background-color: dodgerblue;
}

.nav-link {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  padding: 10px;
}

.nav-link:hover {
  background-color: deepskyblue;
}

.nav-link > a {
  color: white;
}

div {
  margin: 15px 0 10px 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-left: 50px;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 85%;
}

.headline {
  margin-left: 50px;
}
